* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana;
}

h1,h2,h3,h4,h5,h6, strong{
    color: black;
}

p,
span,
label,
input,
textarea,
li {
    font-size: 1rem;
    line-height: 1.9rem;
}

a {
    text-decoration: none;
}

.main-container{
    width: 1200px;
    margin: 0 auto ;
}

@media screen and (max-width: 1200px){
    .main-container {
        width: 90%;
    }
    
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: black;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before{
    content: "";
    width: 30px;
    height: 1px;
    background: black;
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}
/* layout */
.grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/* logo and navigation menu */
.nav {

    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

}

.nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a{
    color: black;
}

/* burger */
.burger div{
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all .3s;
    z-index: 99; 
}

.burger {
    
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

#hero {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name{
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.hero-right{
    display: flex;
    justify-content: center;
}

/* about me */

#Aboutme {
    background-color: #fbfbfb;
    padding: 6rem 0;
}
.Aboutme .pre-title {
   margin: 0 auto;
    
}

.me {
    padding: 3rem 2rem;
    text-align: center;
    background: whitesmoke;
     
}
#minatbakat {
    background-color: #fbfbfb;
    padding: 6rem 0;    
}
.minatbakat .pre-title{
    margin: 0 auto;
}
.minat{
    padding: 3rem 2rem;
    text-align: center;
    background: whitesmoke;
}
#pencapaian{
    background-color: #fbfbfb;
    padding: 6rem 0;
}
.pencapaian .pre-title{
    margin: 0 auto;
}
.project{
    padding: 3rem 2rem;
    text-align: center;
    background: whitesmoke;
}